<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{adminlayout}"
      with:title="'Tạo mới danh mục sản phẩm'">
	<th:block layout:fragment="content">
		<section class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>Thêm/Sửa sản phẩm</h1>
	          </div>
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a href="/admin/category">Danh sách sản phẩm</a></li>
	              <li class="breadcrumb-item active">Thêm / Sửa</li>
	            </ol>
	          </div>
	        </div>
	      </div><!-- /.container-fluid -->
	    </section>
		<form role="form" th:action="@{'/admin/product/' + ${product.id == null ? 'create' : 'update?id=' + product.id}}" th:object="${product}" 
			enctype="multipart/form-data" method="POST">
           <div class="card-body">
             <div class="form-group">
               <label>Tên sản phẩm</label>
               <input th:field="*{name}" type="text" class="form-control" placeholder="Nhập tên danh mục">
               <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="nameHelp" class="form-text text-muted"></small>
             </div>
             <div class="form-group">
               <label>Tiêu đề</label>
               <input th:field="*{title}" type="text" class="form-control" placeholder="Nhập tiêu đề">
             </div>
             <div class="form-group">
               <label>Mô tả</label>
               <textarea th:field="*{desc}" rows="5" class="form-control" placeholder="Nhập mô tả"></textarea>
             </div>
             <div class="form-group">
               <label>Giá tham khảo</label>
               <input th:field="*{priceRef}" type="text" class="form-control" placeholder="Giá tham khảo">
             	<small th:if="${#fields.hasErrors('priceRef')}" th:errors="*{priceRef}" id="nameHelp" class="form-text text-muted"></small>
             </div>
             <div class="form-group">
               <label>Giá bán</label>
               <input th:field="*{priceSale}" type="text" class="form-control" placeholder="Giá bán">
             	<small th:if="${#fields.hasErrors('priceSale')}" th:errors="*{priceSale}" id="nameHelp" class="form-text text-muted"></small>
             </div>
             <div class="form-group">
                <label>Trạng thái</label>
                <select th:field="*{status}" class="custom-select">
                  <option value="1">Kích hoạt</option>
                  <option value="0">Ngưng</option>
                </select>
             </div>
             <div class="form-group">
                <label>Danh mục</label>
                <select th:field="*{categoryId}" class="custom-select">
                  <option th:each="category : ${listCategory}" 
                  		th:value="${category.id}"
                  		th:text="${category.name}"></option>
                </select>
             </div>
             <div class="form-group">
                <label>Upload hình ảnh</label>
                <input name="multipartFile" type="file" multiple>
             </div>
           </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-primary">Submit</button>
           </div>
         </form>
	</th:block>
</html>